
  <section class="footer">
    <!-- Footer -->
    <footer class="text-center text-white">
      <!-- Grid container -->
      <div class="footer">
       
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Copyright © {{ currentYear }}
        <a class="text-white" routerLink="/">Glink Network</a>. All rights reserved.
      </div>
      
      <div style="padding: 0.6rem 0">
        <a class="text-white" href="https://talenttic.com"
          >Powered by Talenttic Tech Hub</a
        >
        <!-- Copyright -->
      </div>
    </footer>
    <!-- Footer -->
  </section>