<div class="text-dark">
  <div class="container mt-5">
      <div class="row mb-4">
          <div class="col">
              <input type="text" class="form-control" placeholder="Find the setting you need">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 mb-3">
              <div class="card text-center bg-secondary text-white">
                  <div class="card-body">
                    <i class="bi bi-user"></i>
                    <h5 class="card-title">Blocking</h5>
                      <p class="card-text">Review people you've previously blocked or add someone to your blocked list.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3">
              <div class="card text-center bg-secondary text-white">
                  <div class="card-body">
                      <h5 class="card-title">Activity log</h5>
                      <p class="card-text">View and manage your activity on Glink.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3">
              <div class="card text-center bg-secondary text-white">
                  <div class="card-body">
                      <h5 class="card-title">Dark mode</h5>
                      <p class="card-text">Choose if you want to use dark mode.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
              <div class="card text-center bg-secondary text-white">
                  <div class="card-body">
                      <h5 class="card-title">Privacy Center</h5>
                      <p class="card-text">Learn how to manage and control your privacy.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-3">
              <div class="card text-center bg-secondary text-white">
                  <div class="card-body">
                      <h5 class="card-title">Glink Help Center</h5>
                      <p class="card-text">Learn more about our updated settings experience on Glink.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>