// Import variables.scss
@import "../../../scss/variables";

/* Custom styles for the bottom navigation */
.bottom-navigation {
  position: fixed;
  bottom: 0; /* Adjust this value to control the floating position */
  left: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;

  li {
    list-style-type: none;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #888;
      font-size: 12px;

      i {
        font-size: 20px;
      }
    }

    &.active a {
      color: $primary-color;
      border-top: 2px solid $primary-color;
      padding-top: 8px;
    }
  }

  .plus-icon {
    position: relative; /* Make the plus-circle icon relative to its container */
    background-color: $primary-color;
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    i {
      font-size: 2.5rem !important;
    }
  }
}
