<div class="container">
    <h2 class="text-dark">Churches</h2>
  <!-- Search Form -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Search Churches</h5>
      <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="searchChurch" placeholder="Enter church name or location">
                <div class="input-group-append">
                <span class="input-group-text">
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
                </div>
            </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
    <h5 class="card-title">Churches</h5>
    <div id="churchList">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <h5 class="mb-1">Grace Churcch</h5>
              <p class="mb-1">Address: 123 Church St.</p>
              <small>Contact: (123) 456-7890 </small>
              <button class="btn btn-primary btn-sm float-right">Connect</button>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <h5 class="mb-1">Holy Ghost Assembly</h5>
              <p class="mb-1">Address: 456 Faith Ave.</p>
              <small>Contact: (987) 654-3210 </small>
              <button class="btn btn-primary btn-sm float-right">Connect</button>
            </a>
        </div>
    </div>
 </div>
  </div>

  </div>