
<div class="container forget_pwd">
  <div class="justify-content-center d-flex mb-5">
    <img src="assets/images/glink-network-logo.png" class="img-fluid rounded-circle" height="100" width="100" alt="logo" style="height: 100px; width: 100px"/>
  </div>

    <div class="row mb-5">
      <div class="col-6 justify-content-center mb-5">
        <div>
            <h2 class="my-4 text-center fw-bolder text-secondary">Forget Password</h2>
        </div>
        <form action="">
            <div class="forms__inputBox mb-5">
                <i class="bi bi-envelope"></i>
                <label for="Email1" class="form-label text-uppercase">Email address</label> 
                
                <input type="email" autocomplete="off" required id="Email1" aria-describedby="emailHelp">
            </div>
      
            <div class="sendBtn d-grid mx-auto">
              <button class="btn btn-warning" routerLink="/reset_pwd">Send</button>
            </div>
        </form>
      </div>

      <div class="col-6 justify-content-center mb-5">
        <div class="forget_pwd_bg"></div>
      </div>
    </div>
  </div>