    <div class="container-fluid bg-light text-dark">
        <div class="row">
            <div class="col-md-3 bg-secondary vh-100 p-4">
                <h4 class="text-center mb-4">Search</h4>
                <input type="search" name="search" id="search">
                <ul class="list-group">
                    <h5>Category</h5>
                    <li class="list-group-item bg-light text-dark">Afro Gospel</li>
                    <li class="list-group-item bg-light text-dark">R & B</li>
                    <li class="list-group-item bg-light text-dark">Mass Choir</li>
                    <li class="list-group-item bg-light text-dark">Praises</li>
                    <li class="list-group-item bg-light text-dark">Worship</li>
                </ul>
            </div>
            <div class="col-md-9 p-4">
                <h4 class="mb-4">Music results</h4>
                  <div class="list-group">
                    <!-- Music Item 1 -->
                    <div class="list-group-item mt-3">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Song Title 1</h5>
                        <small>Category: Worship</small>
                      </div>
                      <p class="mb-1">Artist: Artist Name 1</p>
                      <audio controls>
                        <source src="path_to_song_1.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                      <p class="card-text"><small class="text-muted">uploaded: Sat, Aug 10 at 3:00 PM WAT</small></p>
                      <div class="mt-2">
                        <button class="btn btn-success btn-sm">Download</button>
                        <button class="btn btn-outline-primary btn-sm mx-3">Add to Favorites</button>
                        <button class="btn btn-outline-secondary btn-sm">Share</button>

                      </div>
                    </div>

                    <div class="list-group-item mt-3">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Song Title 1</h5>
                        <small>Category: Worship</small>
                      </div>
                      <p class="mb-1">Artist: Artist Name 1</p>
                      <audio controls>
                        <source src="path_to_song_1.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                      <p class="card-text"><small class="text-muted">uploaded: Sat, Aug 10 at 3:00 PM WAT</small></p>
                      <div class="mt-2">
                        <button class="btn btn-success btn-sm">Download</button>
                        <button class="btn btn-outline-primary btn-sm mx-3">Add to Favorites</button>
                        <button class="btn btn-outline-secondary btn-sm">Share</button>

                      </div>
                    </div>
                </div>


            </div>
        </div>
    </div>