/* Custom Bootstrap Variables */
$primary-color: #003366; /* Update primary color to match the app's theme */
$secondary-color: #66cc99; /* Use a vibrant green as the secondary color */
$accent-color: #ffbf00; /* Use a vibrant yellow as the accent color */
$text-color: #3b3b3b; /* Use a dark gray as the text color */
$dark-color: #222; /* Use a dark gray as the background color for the footer */